/*
This is a good layout for a mobile-first CSS template.
Following this flow will minimize the number of styles you need to write and will ensure you are thinking, designing and developing mobile-first.
Most of your styles get written like standard CSS, but for your mobile presentation. Generally speaking, a good mobile presention will stretch out nicely for larger screens.

Sometimes, when we stretch out to larger screens, we need to make minor tweaks for the larger devices -- you can make these tweaks in the tablet media query, or if the issue exists on desktop only, the desktop media query.
You will find this is far easier than the opposite task of using CSS to cram your desktop experience into a mobile device.
*/
/*********************************************************************
 LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES
*********************************************************************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
/** SET BORDER BOX EVERYWHERE */
* {
    box-sizing: border-box;
}

body,
/** RESPONSIVE IMAGES */
figure,
img {
    /* Sets image width to match parent */
    width: 100%;
    display: block;
    margin: 0 auto;
}

p {
    line-height: 1.2em;
}

.content {
    width: 65%;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 300px;
}

/** Caption styles */
.caption {
    font-size: .9rem;
    color: #8e8a8a;
    padding: 5px 0;
}

.photos.active {
    width: 100%;
    opacity: 1;
}

.photos {
    width: 100%;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;
    z-index: 1;
}

/** BASE CLASSES */
/** Container styles to keep content from becoming too wide or coming too close to
* mobile edge */
.container {
    width: 80%;
    max-width: 80%;
    padding: 0px;
    margin: 0 auto;
}

.menu {
    max-width: 50px;
    padding: 10px;
    position: fixed;
    line-height: .75em;
    font-size: 90%;
    color: #8e8a8a;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding-top: 400px;
    padding-bottom: 300px;
}

/** index page photo */
.cover {
    height: 100vh;
}

.cover.text {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 10%;
    width: 0 auto;
    width: 100%;
    color: white;
}

.cover.container {
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.cover2.text {
    text-align: center;
    width: 0 auto;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 30%;
    padding-right: 30%;
}

.cover img {
    height: 150vh;
    width: auto;
    position: relative;
}

.arrow {
    margin: 0 auto;
    text-align: center;
}

.fa {
    size: 120%;
}

.footnote {
    width: 100%;
    padding: 10px;
    display: inline-block;
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 80%;
    color: gray;
}

/** Images are allowed to be a little wider when broken out into their own container */
figcaption {
    font-size: 6.5vw
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

/** Screens are the size of at least one device screen */
.screen {
    width: 100%;
    min-height: 100vh;
}

/** for vertical centering */
.screen.padd {
    padding-top: 25%;
}

/** video setup */
.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc(9 / 16 * 100%);
}

.video.vertical {
    padding-bottom: calc(16 / 9 * 100%);
}

.video iframe,
.video video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 0;
}

/*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
@media(min-width: 681px) {

    /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    /*  .active {
        background-color: green;
        width: 70%;
        height: 100%;
        float: right;
    }
    */
    .footnote {
        width: 100%;
        padding: 10px;
        display: inline-block;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
        font-size: 80%;
        color: gray;
    }

    /*  .content {
        width: 75%;
        margin: 0 auto;
        padding-top: 400px;
        padding-bottom: 300px;
    }*/
}

/*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 769px) {

    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 769px or larger -- so desktop */
    .content {
        padding-top: 300px;
        width: 70%;
    }
}

/*********************************************************************
  YOUR MEDIUM-DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 805px) {

    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 769px or larger -- so desktop */
    .container {
        padding: 0;
    }
}

/*********************************************************************
  YOUR LARGE DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
@media(min-width: 1500px) {

    /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 769px or larger -- so desktop */
    .content {
        padding-top: 200px;
        width: 70%;
    }